.menuCeleste{
    background-color: #5499C7 ;
}

.menuNegro{
    background-color: black;
}

.menuRojo{
    background-color: rgb(255, 128, 0);
}

.carrito{
    text-decoration: none;
    color: white;
}